{% load blog_tags %}
<div class="latest-posts">
    {% for post in latest_posts %}
        <div class="latest-post-item">
            <a href="{{ post.get_absolute_url }}" class="latest-post-link">
                <h4 class="latest-post-title">{{ post.title|truncatechars:60 }}</h4>
                <div class="latest-post-meta">
                    <span><i class="fas fa-calendar-alt"></i> {{ post.publish|date:"M d" }}</span>
                    <span><i class="fas fa-user"></i> {{ post.author.get_full_name|default:post.author.username|truncatechars:15 }}</span>
                </div>
                <p class="latest-post-excerpt">{{ post.body|striptags|truncatechars:80 }}</p>
            </a>
        </div>
    {% empty %}
        <div class="no-posts">
            <i class="fas fa-file-alt"></i>
            <p>No posts yet</p>
        </div>
    {% endfor %}
</div>
